traefik_version: 38.0.0
traefik_values:
  ingressClass:
    enabled: false
  gateway:
    enabled: false
  providers:
    kubernetesCRD:
      enabled: false
    kubernetesIngress:
      enabled: false
    kubernetesGateway:
      enabled: true
  ports:
    web:
    websecure: {}
  service:
    annotations:
      lbipam.cilium.io/sharing-key: default
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  extraObjects:
    - |
      apiVersion: cilium.io/v2
      kind: CiliumNetworkPolicy
      metadata:
        name: {{ '{{' }} include "traefik.fullname" . }}
        namespace:  {{ '{{' }} include "traefik.namespace" . }}
        labels: {{ '{{' }}- include "traefik.labels" . | nindent 4 }}
      spec:
        endpointSelector:
          matchLabels: {{ '{{' }}- include "traefik.labelselector" . | nindent 6 }}
        ingress:
          - fromEntities:
              - cluster
          - fromCIDRSet:
              - cidrGroupRef: internal
          - fromCIDRSet:
              - cidrGroupRef: cloudflare
            toPorts:
              - ports:
                  - port: "{{ '{{' }} .Values.ports.websecure.port }}"
                    protocol: TCP
