# renovate: datasource=git-tags depName=https://github.com/cert-manager/cert-manager extractVersion=v(?<version>.+)$
cert_manager_version: 1.19.3
cert_manager_values:
  config:
    apiVersion: controller.config.cert-manager.io/v1alpha1
    kind: ControllerConfiguration
    enableGatewayAPI: true
  crds:
    enabled: true
# renovate: datasource=git-tags depName=https://github.com/cloudflare/origin-ca-issuer extractVersion=v(?<version>.+)$
cert_manager_cloudflare_origin_ca_crd_version: 0.13.0
cert_manager_cloudflare_origin_ca_crd_url: "https://raw.githubusercontent.com/cloudflare/origin-ca-issuer/v{{ cert_manager_cloudflare_origin_ca_crd_version }}/deploy/crds/"
# renovate: datasource=docker depName=ghcr.io/cloudflare/origin-ca-issuer-charts/origin-ca-issuer
cert_manager_cloudflare_origin_ca_version: 0.6.2
cert_manager_cloudflare_origin_ca_values:
  controller:
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    securityContext:
      fsGroup: 1000
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
