cert_manager_version: 1.19.2
cert_manager_values:
  config:
    apiVersion: controller.config.cert-manager.io/v1alpha1
    kind: ControllerConfiguration
    enableGatewayAPI: true
  crds:
    enabled: true
cert_manager_cloudflare_origin_ca_crd_version: 0.13.0
cert_manager_cloudflare_origin_ca_crd_url: "https://raw.githubusercontent.com/cloudflare/origin-ca-issuer/v{{ cert_manager_cloudflare_origin_ca_crd_version }}/deploy/crds/"
cert_manager_cloudflare_origin_ca_version: 0.6.2
cert_manager_cloudflare_origin_ca_values:
  controller:
    resources:
      limits:
        memory: 128Mi
        cpu: 100m
      requests:
        cpu: 50m
        memory: 64Mi
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    securityContext:
      fsGroup: 1000
      runAsNonRoot: true
      runAsGroup: 1000
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
