- name: Helm install traefik
  kubernetes.core.helm:
    chart_ref: oci://ghcr.io/traefik/helm/traefik
    chart_version: "{{ traefik_version }}"
    release_name: traefik
    release_namespace: kube-system
    release_values: "{{ traefik_values }}"
    skip_crds: true
  become: false
  delegate_to: localhost

- name: Check traefik
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: traefik
    namespace: kube-system
    wait: true
  become: false
  delegate_to: localhost
