# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: ci

on:
  pull_request:
  push:
    branches:
      - main

env:
  ANSIBLE_FORCE_COLOR: true
  # renovate: datasource=git-tags depName=https://github.com/helm/helm extractVersion=v(?<version>.+)$
  HELM_VERSION: 3.19.4
  # renovate: datasource=git-tags depName=https://github.com/kubernetes/kubernetes extractVersion=v(?<version>.+)$
  KUBECTL_VERSION: 1.35.0
  # renovate: datasource=git-tags depName=https://github.com/lima-vm/lima extractVersion=v(?<version>.+)$
  LIMA_VERSION: 2.0.3
  PYTHON_VERSION: 3.12
  # renovate: datasource=git-tags depName=https://github.com/astral-sh/uv
  UV_VERSION: 0.9.21

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: cpython@${{ env.PYTHON_VERSION }}
          version: ${{ env.UV_VERSION }}
      - uses: azure/setup-kubectl@v4
        with:
          version: v${{ env.KUBECTL_VERSION }}
      - uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}
      - uses: lima-vm/lima-actions/setup@v1
        with:
          version: v${{ env.LIMA_VERSION }}
      - run: |
          limactl start --name=default --containerd=none --mount-none --cpus=2 --memory=4 template:ubuntu-lts
          # Cilium
          limactl shell default -- sudo mount bpffs -t bpf /sys/fs/bpf
          limactl shell default -- sudo mount --make-shared /sys/fs/bpf
          limactl shell default -- sudo mkdir -p /run/cilium/cgroupv2
          limactl shell default -- sudo mount -t cgroup2 none /run/cilium/cgroupv2
          limactl shell default -- sudo mount --make-shared /run/cilium/cgroupv2
      - run: uv run ansible-playbook --inventory lima-default, ./playbooks/site.yml
      - if: always()
        run: kubectl get all --all-namespaces=true --output=wide
